.menu-nav{
    list-style-type: none;
    margin:"0";
    padding:"10%";
    overflow: hidden;
    background-color: blue;
   

}
.logo {
    width:10%;
    height:10%;
    overflow:hidden;
}

li {
    float:left;
    box-sizing: inherit;
     
  
    a{
        display:block;
        color:white;
        text-align: center;
        padding: 1em;
        text-decoration: none;
       
    }
} 
    
    .sub-menu {
        background-color: grey;
        padding: 0.5em 1em 0.5em 0.5em;
    }
    .subprincipal {
        width:10%;
        height:10%;
    }

